html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/*line-height: 1;*/
	word-spacing: inherit;
}

 
*::before, 
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}

body {
	background-color: lightgrey;
	font-family: 'sans serif';
	text-align: center;
}

.container {
	width: 95%;
	margin: 0 auto;
}



/* Change the link color to cyan  on hover */
li a:hover {
  background-color: grey;
  
}

/*NavBar*/
nav {
	background: #000;	
	position: fixed;
	width: 100%;
	top:0;
	z-index: 999;
}

.nav-links li {
	display: inline-block;
	margin: 15px 0;
	border: #f1f1f1;	
}
.nav-links li a {
	color: #fff;
	padding: 10px 15px
}

.logo{
	float: left;
}

/*welcoming-section stylimg*/

.welcome-text h1{
	
font-weight: 60px;
}

.welcome-text h1{
	
	font-size: 30px;

    position: bottom;

}

h {
	text-align: left;
}

.image-box {
	display:grid;
	position: relative;
	grid-template-columns: 1fr;
  }
  
  
  .image-box__background,
  .image-box__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }

  .image-box__background {
	  background-size: cover;
	  background-image: var(--image-url);
	  background-repeat:no-repeat;
	  position: center center;
	 
	  z-index: 1;

  }

  .image-box__overlay {
	background: rgba(0, 0, 0, 0.5);
  
	z-index: 2;

  }

  .image-box__content {  
	z-index: 3;
	
	color: white;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  /*End Of Welcomiming styling*/


.box2-contents .box-item {
	text-align: left;
	padding:20px 15px;
	 

}
.box-contents .box-item {
	text-align: left;
}

@media screen and (min-width: 50em) {
}
	
.box3-contents .box-item {
	
	padding-top: 10px
}

@media screen and (min-width: 50em) {
}


/*Footer-Section*/
.wrapper ul{
list-style: none;
height: 60px;

}


 /*Begining of card styling*/
.about-container {
	display: grid;
	padding: 1.5em 0;
}

.container-card{
	margin: 1em;

}



@media screen and (min-width: 50em) {
	.about-container {
		grid-template-columns: 1fr 1fr;
	}

	.about-container .container-card {
		padding: 0 1.75em;
	}

	
}

hr {
	width:30%;
}

/*begining of the footer*/
footer{
	width: 95%;
	margin: auto;
	background-color: darkgrey;
	padding: 20px 20px;
}
  
.hireme {

	padding: 10px 10px;
	font-weight:400em;
}

 /* Style the submit button */
input[type=submit] {
	background-color: #00acee;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	
  }
 /* Style inputs with type="text" */
  input[type=text], select, textarea {
	  width: 350px; 
	  padding: 12px;   
	  border: 1px solid #ccc; 
	  border-radius: 4px; 
	  box-sizing: border-box; 
	  margin-top: 6px; 
	  margin-bottom: 16px;
	  position:relative;
  
	  
	}

	.wrapper ul li{
		text-align: center;
		cursor: pointer;
		border-radius: 50%;
	
		background-color: #777;
		
		display: inline-block;
		
	
	}
	
	.btn{
		display:inline-block;
		width: 50px;
		height:50px;
		background: #f1f1f1;
		margin: 10px;
		border-radius: 30%; 
		box-shadow: 0 5px 15px -5px #00000070;
		color: #00acee;
		overflow: hidden;
		position:relative;
	
	}

	.btn i{
	
		line-height: 50px;
		font-size: 26px;
		transition: 0.2s linear;
	
	}
	
	.btn:hover i{
		transform:scale(1,2);
		color: #000;
	}
	
	.grid-container{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
        padding: 5em 5em;
		background-color: #777;
		margin-top: 50px;
		text-decoration:none;
		grid-gap:1em;
	}

	.container-card2 .face2{

		 margin-top: 50px; 
	}

	.grid-item{

		padding:10px 10px;
		text-align: left;
		
		
		border: outset;
	}
	.grid-container .grid-item{
		text-align: center;
	}
	.grid-container-2{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr ;
        padding: 5em 5em;
		background-color: #f1f1f1;
		/* margin-top: 50px; */
		text-decoration:none;
		grid-gap:1em;
		
	}
	.projects-section {
		text-align: center;
		padding: 1rem 2rem;
		background: var(--main-blue);
	  }
	  
	  .projects-section-header {
		max-width: 640px;
		margin: 0 auto 1rem auto;
		border-bottom: 0.2rem solid var(--main-white);
	  }
	  
	  @media (max-width: 28.75em) {
		.projects-section-header {
		  font-size: 4rem;
		}
	  }
	  
	  
	  .projects-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		grid-gap: 4rem;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		margin-bottom: 1rem;
	  }
	  
	  @media (max-width: 30.625em) {
		.projects-section {
		  padding: 1rem 1rem;
		}
	  
		.projects-grid {
		  grid-template-columns: 1fr;
		}
	  }
	  
	  .project {
		background: var(--main-gray);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		border-radius: 2px;
	  }
	  
	  .code {
		color: var(--main-gray);
		transition: color 0.3s ease-out;
	  }
	  
	  .project:hover .code {
		color: #ff7f50;
	  }
	  
	  .project-image {
		height: calc(100% - 6.8rem);
		width: 100%;
		object-fit: cover;
	  }
	  
	  .project-title {
		font-size: 2rem;
		padding: 2rem 0.5rem;
	  }
	  
	 
	  
	  
	  
	  
	  