html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

*, 
*::before, 
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}

body {
	background-color: lightgrey;
	font-family: 'Roboto Mono';
	text-align: center;
}

.container {
	width: 95%;
	margin: 0 auto;
}



/* Change the link color to cyan  on hover */
li a:hover {
  background-color: cyan;
  
}

/*NavBar*/
nav {
	background: #000;	
	position: fixed;
	width: 100%;
	top:0;
	z-index: 999;
}

.nav-links li {
	display: inline-block;
	margin: 15px 0;
	
}
.nav-links li a {
	color: #fff;
	padding: 10px 15px;
	
	

}

/*welcoming-section stylimg*/

.welcome-text{
	font-weight: 60px;

}





.image-box {
	display:grid;
	position: relative;
	grid-template-columns: 1fr;
  }
  
  
  .image-box__background,
  .image-box__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }

  .image-box__background {
	  background-size: cover;
	  background-image: var(--image-url);
	  background-repeat:no-repeat;
	  position: center center;
	 
	  z-index: 1;

  }

  .image-box__overlay {
	background: rgba(0, 0, 0, 0.5);
  
	z-index: 2;

  }

  

  .image-box__content {
	position: relative;
  
	z-index: 3;
	
	color: white;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  /*End Of Welcomiming styling*/




.box-contents {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr;
	grid-gap:0.2px;
	
	
}
/*About Me section*/
.box2-contents {
display:grid;
grid-template-columns:1fr;
grid-template-rows:1fr;
background-color: white;
grid-gap:0.2px ;

}

.box2-contents .box-item {
	text-align: left;
	padding:20px 15px;
	 

}

.about-me{
	font-size: 30px;
	text-align: center;
	font-weight: 60px;

}


.box-contents .box-item {
	text-align: left;
}

@media screen and (min-width: 50em) {
	.box-contents {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
	
	
.skills {
	text-align: center;
	font-weight:60px;
	

}


.projects{
	text-align: 
}


.box3-contents{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 1fr ;
	background-color: mediumaquamarine;
	grid-gap:10px;
	
}


.box3-contents .box-item {
	
	padding-top: 10px
}

@media screen and (min-width: 50em) {
	.box3-contents {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


/*Footer-Section*/
.wrapper ul{
list-style: none;

}

.wrapper ul li{
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	
	border: 5px solid #fff;
	background-color: #d3d3d3;

}


li {

float:left;
}



  
 